.logoWrapper
{
    text-align: center;
}

.whatReact
{
    right: 400px;
    text-align: left;
    padding-left: 400px;
    padding-right: 400px;
}

img
{
    width: 380px;
    height: 380px;
    margin: 40px 50px 30px 20px;
}

.linkWrapper
{
    text-align: center;
}

